.menu{
    &-button{
        border: none;
        background: none;
        margin-top: 18px;
        margin-right: 3px;
    }
    &-icon{
        width: 30px;
        height: 3px;
        background: $black;
        display: block;
        margin-bottom: 4px;
        transition: all .3s linear;
    }
    &-list{
        list-style: none;
        padding: 0;
        li{

        }
        a{
            padding: 7px 15px;
        }
    }
}