.wp-article{
    margin-bottom: 60px;
    &_title{

    }
    &-thumb{
        
    }
    &-content{
        
    }
    &-more{
        
    }
    &-meta{
        list-style: none;
        padding: 0;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}