.post{
    margin-bottom: 60px;
    &_title{

    }

    &-thumb{
        
    }
    &-img{
        max-width: 100%;
        height: auto;
    }
    &-content{

    }
    &-more{
        
    }
    &-meta{
        list-style: none;
        padding: 0;
    }
}